<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>VOLUNTARIADO</string>
		<key>img</key>
		<string>voluntariado</string>
		<key>selected</key>
		<string>voluntariado_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>REUTILIZAR</string>
		<key>img</key>
		<string>reutilizar</string>
		<key>selected</key>
		<string>reutilizar_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PUBLICACION_CALLE</string>
		<key>img</key>
		<string>publicacion_de_calle</string>
		<key>selected</key>
		<string>publicacion_de_calle_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PLANTAR_ARBOLES</string>
		<key>img</key>
		<string>plantar_arboles</string>
		<key>selected</key>
		<string>plantar_arboles_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FORMARSE_PARA_AYUDAR</string>
		<key>img</key>
		<string>formarse_para_ayudar</string>
		<key>selected</key>
		<string>formarse_para_ayudar_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_PELO</string>
		<key>img</key>
		<string>donar_pelo</string>
		<key>selected</key>
		<string>donar_pelo_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_MILLAS</string>
		<key>img</key>
		<string>donar_millas_aereas</string>
		<key>selected</key>
		<string>donar_millas_aereas_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_LECHE</string>
		<key>img</key>
		<string>donar_leche_materna</string>
		<key>selected</key>
		<string>donar_leche_materna_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_DINERO</string>
		<key>img</key>
		<string>donar_dinero</string>
		<key>selected</key>
		<string>donar_dinero_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_ARTICULOS</string>
		<key>img</key>
		<string>donar_articulos_usados</string>
		<key>selected</key>
		<string>donar_articulos_usados_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_ALIMENTOS</string>
		<key>img</key>
		<string>donar_alimentos</string>
		<key>selected</key>
		<string>donar_alimentos_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_TELEFONOS</string>
		<key>img</key>
		<string>donar_telefonos_moviles</string>
		<key>selected</key>
		<string>donar_telefonos_moviles_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_SANGRE</string>
		<key>img</key>
		<string>donar_sangre</string>
		<key>selected</key>
		<string>donar_sangre_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_PLAQUETAS</string>
		<key>img</key>
		<string>donar_plaquetas</string>
		<key>selected</key>
		<string>donar_plaquetas_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>DONAR_MEDULA</string>
		<key>img</key>
		<string>donante_de_medula osea</string>
		<key>selected</key>
		<string>donante_de_medula osea_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ASESOR_DIRECTORIO</string>
		<key>img</key>
		<string>asesor_directorio</string>
		<key>selected</key>
		<string>asesor_directorio_on</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ADOPCION_MASCOTAS</string>
		<key>img</key>
		<string>adopcion_de_mascotas</string>
		<key>selected</key>
		<string>adopcion_de_mascotas_on</string>
	</dict>
</array>
</plist>
